body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background-color: #001a33;
    color: #ffffff;
}

nav {
    background-color: #00264d;
    color: #ffffff;
    padding: 20px; /* Increase padding for more space */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-right: 10px;
    padding: 5px 0; /* Added padding for more space */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust height accounting for increased nav padding */
    padding: 15px;
}

.emoji-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 150px;
}

.emoji-container a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 50px;
}

.inner-box {
    position: relative;
    background: transparent;
    width: 95%;
    height: 90%;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 240px); /* Adjust as needed */
}

.inner-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 139, 139, 1), transparent);
    z-index: -1;
}

.inner-box h2 {
  text-align: center;
}

.inner-box h1, .inner-box p {
    z-index: 2;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
    nav {
        padding: 30px; /* Adjust as necessary */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 20px 0; /* Adjust as necessary */
    }

    nav ul li a {
        font-size: 80px !important; /* Use !important to ensure this style applies */
    }

    .emoji-container {
        font-size: 100px;
    }
}

